@media(max-width: 992px){
  header{
    min-height: 50vh;
  }
  .head-cont-d{
    width: 90% !important;
    margin: auto;
    margin-bottom: 50px;
  }
  .topic{
    min-height: 30vh;
  }
  .topic-row{
    width: 42% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
  }
  .course-row{
    width: 80% !important;
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  .navbar{
    background: #21B573;
  }
  .fa-bars{
    color: #fff;
    padding: 3px;
    font-size: 25px;
  }
  .navbar-nav{
    display: inline-block;
  }
  .nav-link{
    color: #fff !important;
  }
  .primary-btn{
    border: 2px solid #fff;
  }
  .primary-btn:hover{
    color: #21B573;
    background: #fff;
    border: 2px solid #21B573;
  }
  .testi-cont{
    flex-wrap: wrap;
  }
  .testi-img{
    width: 30% !important;
    margin: auto;
  }
  .testi-desc{
    margin-top: 30px;
  }
}
@media (max-width: 576px){
  .topic-row{
    width: 60% !important;
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  .topic-cont h1{
    font-size: 22px;
  }
  .topic-cont p{
    font-size: 15px;
  }
  .course-cont h2{
    font-size: 20px;
  }
  .course-cont h5{
    font-size: 13px;
  }
  .course-foot h5{
    font-size: 10px;
  }
}
